.form-inline {
  display: flex;
  flex-direction: row;
  height : 50px;
  width: 100%;
}

.user-input{
  width : 96%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #fff;
}
  
button {
  float: left;
  width: 4%;
  padding: 10px;
  background: #000;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: 10px;
}
  
button:hover {
  background: #313131;
}
